.authorization{
    width: 700px;
    height: 700px;
    background-color: azure;
    margin-top: 100px;
}

.authorization__content{
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.authorization__content_disable{
    display: none;
}

.authorization__title{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: black;
    margin-bottom: 0;
}

.input{
    outline: none;
    border: none;
    height: 50px;
    background-color: black;
    border-radius: 100px;
    padding-left: 14px;
    color: white;
}

.authorization__name{
    margin-bottom: -25px;
}

.authorization__submit{
    border-radius: 100px;
    background-color: brown;
    color: white;
    font-style: normal;
    font-weight:300;
    font-size: 20px;
    line-height: 17px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.authorization__submit:hover{
    opacity: .7;
    transition: .2s;
}

.authorization__submit_disable{
    pointer-events: none;
    background-color: gray;
}

.authorization__password{
    margin-bottom: 0
}

.input__error{
    color: red;
    width: 266px;
    margin: 0 auto;
    display: none;
}

.input__error_visible{
    display: block;
}

.contact{
    width: 100px;
    height: 60px;
    text-decoration: none;
    color: black;
}