.authorization {
    width: 700px;
    height: 700px;
    background-color: darkgoldenrod;
    margin-top: 100px;
    position: relative;
    border-radius: 10%;
}

.authorization__content {
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.authorization__content_disable {
    display: none;
}

.authorization__title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: black;
    margin-bottom: 0;
}

.input {
    outline: none;
    border: none;
    height: 50px;
    background-color: black;
    border-radius: 100px;
    padding-left: 14px;
    color: white;
}

.authorization__name {
    margin-bottom: -25px;
}

.authorization__submit {
    border-radius: 100px;
    background-color: tomato;
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.authorization__submit:hover {
    opacity: .7;
    transition: .2s;
}

.authorization__submit_disable {
    pointer-events: none;
    background-color: gray;
}

.authorization__password {
    margin-bottom: 0
}

.input__error {
    color: red;
    width: 266px;
    margin: 0 auto;
    display: none;
}

.input__error_visible {
    display: block;
}

.authorization__link {
    width: 70%;
    height: 12%;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 80%;
    text-align: center;
    background-color: black;
    border-radius: 100px;
    left: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.authorization__link:hover{
    opacity: .6;
    transition: .2s;
}

.authorization__link:active {
    background-color: tomato;
}

.authorization__out {
    bottom: 60%;
    outline: none;
    border: none;
}